.info {
  display: flex;
  flex-flow: column nowrap;
  // gap: 1rem;
  justify-content: center;
  align-items: center;
  &__p {
    font-size: 0.8rem;
  }
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.footer {
  // background-color: red;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &__ul {
    display: flex;
    color: black;
    gap: 1rem;
  }
  &__a {
    border: solid 0.2px rgb(230, 230, 230);
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  &__btn {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
  }
}
